	<head>
	
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"> 
        <link rel="stylesheet" href="css/treeGrid.css">    
           
     
	</head>
	
  <div class="container">
  <body ng-controller="treeGridController">
		<div class="page-header">
		<h3>Tabelas</h3>
		</div>
		
			<!-- Caixa de Seleção -->
		    <div class="form-group">
			        		<label>Versão:</label> 
			        		<select
			        		name="layout" class="form-control" 
			        		ng-model="layout"
			        		ng-change="updateTables()"
			        		ng-controller="treeGridController" 
			        		ng-options="layout.gua_lay_num_ver as (layout.gua_lay_notas) for layout in layouts">
			        		<option value="">Selecione a Versão da Tabela</option>
			        		</select> 
		 	 </div>
		
			<div ng-model="showMinDir" ng-value="false" >
	
		        <div ng-show="!showMinDir" main" style="height:100%; margin-bottom:20px;"> 
		            <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm" style="height:100%; margin-bottom:20px;">Expandir</button>
		            <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm" style="height:100%; margin-bottom:20px;">Fechar </button>
		            <div class="pull-right" >
		          	  <button ng-click="setVersao()" class="btn btn-default btn-sm" style="height:100%; margin-bottom:20px;">Carregar</button>
		            </div>
		            <input class="form-control" type="text" data-ng-model="filterString" placeholder="Filter"  />
		            <tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property" on-select="my_tree_handler(branch)" on-click="grid(branch.layout.gua_lay_num_ver, branch.id)" expand-level="2" icon-leaf= "glyphicon glyphicon-file"></tree-grid>
		        </div>
		 
		        <div ng-show="showMinDir"> 
		            <!--
		            <strong>bare minimum directive:</strong> <code>&lt;tree-grid tree-data="tree_data"&gt;&lt;/tree-grid&gt;</code>
		            -->
		            <tree-grid tree-data="tree_data"></tree-grid>
		        </div>    
		    </div>   
  </body>
  </div>
