
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="css/menuleft.css">
 -->        
 		<link rel="stylesheet" href="css/validador.css">
        
   		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <title>Validador</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
 
      
</head>

 <div class="container">
			
			
			<div class="page-header">
				<h3>Validador</h3>
			</div>
			
			<body ng-controller="ValidadorController">
				  <h4>Upload</h4>
				  <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
				          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
				      Selecione</button>
				  <br><br>
				 <h4>Arquivos:</h4>
				  <ul>
				    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
				      <span class="progress" ng-show="f.progress >= 0">
				        <div style="width:{{f.progress}}%"  
				            ng-bind="f.progress + '%'"></div>
				      </span>
				    </li>
				    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
				    </li> 
				  </ul>
				 <!--  {{errorMsg}} -->
			</body>
			
			<h5>Relatório</h5> 
	
			<div class="table-responsive">		
					<table class="table">
						<tr>
			   					<td>Total de erros:</td>
			   					<div class="pull-right">
				   					<td>{{tabelaserros.lenght}}</td>
				   				</div>
		   				</tr>
		   				
		   				<tr ng-show="tabelaserros.telefone_mask_erros != null">
		   						<td>Máscara de telefone inválida:</td>
			   					<div class="pull-right">
				   					<td>{{tabelaserros.telefone_mask_erros}}</td>
				   				</div>
		   				</tr> 
		   				
		   				<tr ng-show="tabelaserros.null_erros != null">
		   						<td>Campos que não podem ser nulos:</td>
			   					<div class="pull-right">
				   					<td>{{tabelaserros.null_erros}}</td>
				   				</div>
		   				</tr> 
		   				
					</table>
			</div>	
			
			<input ng-show="tabelaserros.list != null" ng-model="filter" style="margin-top: 20px; margin-bottom: 20px;" class="form-control" placeholder="Filtrar">
			
			
            <span ng-repeat="incorretas in tabelaserros.nomes_tabelas_incorretas track by $index">Nome da tabela incorreto: {{incorretas}} <br></span>
			
			<div style="margin-top: 10px; margin-left:5px" ng-repeat="tabelaserro in tabelaserros.list | filter:filter">
			
				 
				 		 	
					<h3>{{tabelaserro.nome_tabela}}  {{tabelaserro.msg}}</h3>
 
						<div ng-repeat="linha in tabelaserro.linhas | limitTo:quantity">
							 <strong style="margin-left:12px;">Linha:</strong> {{linha.num_linha}} {{linha.msg_linha}}
								
								<h5 ng-show="linha == null">Campos válidos!</h5>
								 
								<div ng-repeat="erro in linha.erros">
									<strong style="margin-left:26px">Campo:</strong> {{erro.campo_nome}} <strong> Conteúdo: </strong> {{erro.conteudo_campo}}<strong> Conteúdo esperado: </strong> {{erro.valor_esperado}} <strong> Comentário:</strong>{{erro.comentario_erro}} 
						 		</div> 
						</div> 			
			</div>
			
			 
			
			
			
</div>


<!-- <div id='cssmenu'>
		<ul>
		   <li><a href='#'><span>Exemplo</span></a></li>
		   <li class='active has-sub'><a href='#'><span>APK</span></a>
		      <ul>
		         <li class='has-sub'><a href='#'><span>APK</span></a>
		         </li>
		         <li class='has-sub'><a href='#'><span>Exemplo</span></a>
		         </li>
		      </ul>
		   </li>
		   <li><a href='#'><span>Exemplo</span></a></li>
		   <li class='last'><a href='#'><span>Exemplo</span></a></li>
		</ul>
</div>
		 -->
		
		

 